<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
	<customErrors mode="RemoteOnly" />
  </system.web>
    <connectionStrings>
        <add providerName="System.Data.SqlClient" connectionString="CONNECTION STRING GOES HERE" name="QuoteDB" />
    </connectionStrings>
</configuration>